<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<h1>Liste des reservations de la seance</h1>

	<a href="/index">Accueil</a>
	<p th:text="${bug}" style="color: red"></p>
	<p>Places restantes</p>
	<p th:if="${seance.salle.capacite} - ${nombre} == 0"
		th:text="${seance.salle.capacite} - ${nombre}" style="color: red"></p>
	<p th:if="${seance.salle.capacite} - ${nombre} > 0"
		th:text="${seance.salle.capacite} - ${nombre}" style="color: blue"></p>

	<div th:each="reserv : ${reservs}">
		<h6>Id seance</h6>
		<p th:text="${reserv.id}"></p>
		<hr>
	</div>

</body>
</html>